services:
  cassandra1:
    image: cassandra:latest
    container_name: cassandra1
    ports:
      - "9042:9042"

    environment: &environment
      CASSANDRA_SEEDS: "cassandra1,cassandra2"
      CASSANDRA_CLUSTER_NAME: MyTestCluster
      CASSANDRA_DC: DC1
      CASSANDRA_RACK: RACK1
      CASSANDRA_ENDPOINT_SNITCH: GossipingPropertyFileSnitch
      JVM_EXTRA_OPTS: "-Xms256M -Xmx512M"

    healthcheck:
      test: ["CMD-SHELL", "nodetool status"]
      interval: 1m
      start_period: 2m
      timeout: 10s
      retries: 3

  cassandra2:
    image: cassandra:latest
    container_name: cassandra2
    ports:
      - "9043:9042"
    environment: *environment
    depends_on:
      cassandra1:
        condition: service_healthy

    healthcheck:
      test: ["CMD-SHELL", "nodetool status"]
      interval: 1m
      start_period: 2m
      timeout: 10s
      retries: 3

  cassandra3:
    image: cassandra:latest
    container_name: cassandra3
    ports:
      - "9044:9042"
    environment: *environment
    depends_on:
      cassandra2:
        condition: service_healthy

    healthcheck:
      test: ["CMD-SHELL", "nodetool status"]
      interval: 1m
      start_period: 2m
      timeout: 10s
      retries: 3

  redis:
    image: redis/redis-stack
    restart: unless-stopped
    container_name: redis
    ports:
      - "6379:6379"
      - "8001:8001"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3

  shortener:
    build:
      context: .
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    env_file:
      - .env.docker
    container_name: shortener
    ports:
      - "8080:8080"
    depends_on:
      cassandra3:
        condition: service_healthy
      redis:
        condition: service_healthy

    healthcheck:
      test: [ "CMD", "curl", "http://localhost:8080/actuator/health/liveness" ]
      interval: 10s
      timeout: 3s
      retries: 3


    develop:
      watch:
        - action: sync+restart
          path: ./src
          target: /app/src
        - action: rebuild
          path: ./pom.xml
          target: /app/
        - action: rebuild
          path: ./.env.docker
          target: /app/

networks:
  default:
    name: shortener
    driver: bridge